@font-face {
    font-family: "Montserrat";
    src: url(../fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: "HindMadurai";
    src: url(../fonts//HindMadurai-Regular.ttf);
}

$primaryColor: #A76D60;
$secondaryColor: #55D29E;
$thirdColor: #01BAEF;
