body{
    background-color: $secondaryColor;
}

article{
    @include flex (center, row, flex-start);
    background-color: $secondaryColor;
    margin: 2em 0em;
    color: $primaryColor;
    font-size: 1.2em;


    .image{
        @include flex (center, column, flex-start);
        width: 50%;
        margin: auto;

        p{
            margin: auto;
        }

        img{
            margin-left: 50%;
            transform: translateX(-50%);
            width: 300px;
            max-height: 400px;
            vertical-align: middle;
        }
    }

    .description{
        width: 50%;
        @include flex (center, column, center);
        margin: auto;
        margin-right: 2em;

        p{
            padding: 5px;
            color: $primaryColor;
            span{
                text-decoration: underline;
            }
        }
    }
}

button{
    width: 10em;
    color: red;
    background-color: black;
    margin-left: 50%;
    transform: translate(-50%);
}
button:hover{
    background-color: blue;
}