@media screen and (max-width: 1024px){
    // nav--------------------------
    .sidenav{
        display: block;
    }
    #openBtn{
        display: block;
    }
    #navBar{
        display: none;
    }
    // ----------------------------------


    .mainBannerText{
        top: 180px;
        h2{
            font-size: 1.5em;
        }
        p{
            margin: 2em 2em;
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    .kidsBannerText{
        top: 230px;
        h2{
            font-size: 1.5em;
        }
        p{
            margin: 2em 2em;
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    .partyBannerText{
        top: 200px;
        h2{
            font-size: 1.5em;
        }
        p{
            margin: 2em 2em;
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    .freeBannerText{
        top: 220px;
        h2{
            font-size: 1.5em;
        }
        p{
            margin: 2em 2em;
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    .sportBannerText{
        top: 230px;
        h2{
            font-size: 1.5em;
        }
        p{
            margin: 2em 2em;
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }
    .culturalBannerText{
        top: 230px;
        h2{
            font-size: 1.5em;
        }
        p{
            margin: 2em 2em;
            font-size: 1.1em;
            line-height: 1.5em;
        }
    }

    .log{
        display: none;
    }
}

// RESPONSIVE 1200PX----------------------------
@media screen and (max-width: 1200px){
    #registerFormContainer{
        padding: 8em;
        background-image: url(../Images/campagne.jpg);
        background-size: cover;
        background-position-y: center;
    
        .registerForm{
            width: 83%;
            background-color: $primaryColor;
            margin: auto;
            padding: 4em;
            opacity: 0.9;
            border-radius: 10px;
            // margin-left: -70px;

            input{
                width: 60%;
                margin: auto;
                max-width: 100%;
            }
        }
    }
}
// RESPONSIVE 768PX-------------------------

@media screen and (max-width: 768px){
    #titleNav{
        padding: 2em 0em 2em 1em;
        a{
            font-size: 0.8em;
        }
        
    }
    article{
        @include flex (space-around, column-reverse, flex-start);
        background-color: $secondaryColor;
        margin: 2em 2em;
        font-size: 1.2em;
    
    
        .image{
            @include flex (center, column, flex-start);
            margin: auto;
    
            img{
                width: 300px;
                max-height: 400px;
            }
        }

        .description{
            width: 100%;
        }
        
    }
    #registerFormContainer{
        padding: 4em;
    
        .registerForm{
            width: 83%;
            background-color: $primaryColor;
            margin: auto;
            // margin-left: -30px;
            padding: 4em;
            opacity: 0.9;
            border-radius: 10px;

            label {
                display: block;
                width: 50%;
                text-align: right;
                padding: 0.8em 0em;
                color: aliceblue;
                font-family: 'HindMadurai';
                margin-right: 1em;
            }

            input{
                width: 80%;
                margin: auto;
                max-width: 100%;
                margin-left: 50%;
                transform: translate(-50%);
                margin-bottom: 1em;
            }

            h1{
                text-align: center;
                color: aliceblue;
                margin-bottom: 0.5em;
            }
        }
    }

    #loginFormContainer{
        background-image: url(../Images/famille.jpg);
        background-size: cover;
        background-position-y: center;
        padding: 4em;
        
        .loginForm{
            width: 83%;
            background-color: $primaryColor;
            margin: auto;
            padding: 5em;
            opacity: 0.9;
            border-radius: 10px;
            margin-left: 50%;
            transform: translate(-50%);
            input{
                width: 80%;
                height: 2em;
                max-width: 100%;
                margin-left: 50%;
                transform: translate(-50%);
            }
        }
        
        
    }
    #addEventContainer{
        padding: 8em;
        background-image: url(../Images/Beynac.jpg);
        background-size: cover;
        background-position-y: center;
    
        .addEvent{
            width: 100%;
            background-color: $primaryColor;
            margin: auto;
            padding: 4em;
            opacity: 0.9;
            border-radius: 10px;
            margin-left: -20%;
            #event_Envoyer{
                margin-top: 1.5em;
            }
            #modify_event_Envoyer{
                margin-top: 1.5em;
            }
        }
    }
}

// RESPONSIVE 550PX-------------------------
@media screen and (max-width: 550px){
    #registerFormContainer{
    
        .registerForm{
            margin-left: -40px;
        }
    }

    #addEventContainer{
        padding: 6em;  
        .addEvent{
            margin-left: -25%;
            label{
                text-align: center;
            }
        }
    }
}

// RESPONSIVE 425PX-------------------------
@media screen and (max-width: 425px){
    #registerFormContainer{
    
        .registerForm{
            margin-left: -50px;
        }
    }
    #addEventContainer{
        padding: 6em;  
        .addEvent{
            margin-left: -45%;
            label{
                text-align: center;
            }
        }
    }
    .mainBannerText{
        position: absolute;
        top: 140px;
        color: aliceblue;
        text-align: center;
    
        h2{
            font-size: 1.4em;
            
        }    
        p{
            font-size: 1em;
        }
    }
    #titleNav{
        padding: 2em 0em 2em 1em;
        a{
            font-size: 0.7em;
        }
        
    }
}